body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

.container {
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.logo {
    width: 8%;
}

.logo a {
    text-indent: -9999em; /*양수면 들여쓰기 음수면 내어쓰기*/
}

h2 {
    color: #d9534f;
}
ul{
	list-style: none;
}

p {
    margin: 20px 0;
    color: #555;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.strong{
	color:red;
}
.strong1{
	color:red;
	font-size:22px;
}

.password-input {
	margin: 20px 10px 10px 10px;
}

.password-input input[type="password"] {
	width: 180px;
	height: 30px;
	padding: 5px;
}

.agreement {
	margin-bottom: 20px;
}


#withdrawBtn {
    background-color: #5bc0de;
    color: white;
}

#withdrawBtn:hover {
    background-color: #c9302c;
}

#cancelBtn {
    background-color: #5bc0de;
    color: white;
}

#cancelBtn:hover {
	background-color: #c9302c;
}

@media ( max-width : 768px) {
	#delete-jsp {
		width: 90%;
		margin: 20px auto;
		padding: 15px;
	}
	input[type="text"], input[type="password"] {
		width: 100%;
	}
	table {
		display: block;
		width: 100%;
		overflow-x: auto;
	}
	th.label, td.input {
		width: 100%;
		text-align: left;
	}
	button {
		width: 100%;
	}
	.logo {
		width: 10%; /*모바일 환경에선 로고 사이즈 줄임*/
	}
}