@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    font-size: 15px;
}

/* 게시글 목록 테이블 스타일 */
table {
    width: 75%; /* 게시판 테이블 너비를 살짝 넓힘 */
    max-width: 900px; /* 최대 너비를 넓힘 */
    border-collapse: collapse;
    font-size: 13px;
    margin: 30px auto 0 auto; /* 테이블을 페이지 중앙에 배치 */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05); /* 테이블의 그림자 효과를 줄임 */
    border: 1px solid #ddd; /* 테두리를 네모모양으로 */
}

th, td {
    border-bottom: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

th:nth-child(1) {
    width: 10%;
}

th:nth-child(2) {
    width: 45%; /* 제목 열을 더 넓게 */
}

th:nth-child(3) {
    width: 15%;
}

th:nth-child(4) {
    width: 20%;
}

th:nth-child(5) {
    width: 10%; /* 조회수 열을 더 넓게 */
}

.sale {
    color: red;
}

.purchase {
    color: blue;
}

.title-link {
    text-decoration: none;
    color: black;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-link:hover {
    text-decoration: underline;
}

/* 게시판 상단의 게시글 제목 글씨 크기 및 위치 고정 */
h3 {
    text-align: left;
    font-size: 18px;
    margin-top: 50px;
    font-weight: bold;
    max-width: 900px; /* 최대 너비 고정 */
    margin: 50px auto 10px auto;
}

/* 글 작성 버튼 스타일 */
form {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

/* 버튼을 우측 하단에 배치 */
button {
    font-size: 14px; /* 글씨 크기 줄임 */
    font-weight: bold; /* 글씨 진하게 */
    background-color: #f9c66a; /* 연한 주황색 배경 */
    color: black; /* 글씨 색을 쨍한 검정으로 */
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 8px 15px; /* 버튼 크기 줄임 */
    position: absolute; /* 버튼을 우측 하단에 배치 */
    right: 0;
    bottom: -40px; /* 버튼을 테이블 하단 밖으로 살짝 배치 */
    border-bottom: none; /* 밑선 제거 */
    box-shadow: none; /* 그림자 제거 */
}

button:hover {
    background-color: #f4b44a; /* 호버 시 조금 더 진한 주황색 */
    text-decoration: underline;
}

/*태블릿 (화면너비 768px 이하)*/
@media ( max-width : 768px) {
	#wrap {
		display: flex;
		flex-direction: column;
	}
	header {
		width: 100%;
		height: 120px;
		position: sticky;
		top: 0; /* 도달했을때 고정시킬 위치 */
		padding: 5px;
		z-index: 9999;
		font-family: "Pretendard JP", serif;
	}
