body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

#login-jsp {
	width: 80%;
	margin: 50px auto;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	font-size: 15px;
	margin-bottom: 20px;
	color: #333;
}

#right {
	text-align: left;
}

#container {
	padding: 20px;
}

#login {
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th.label {
	text-align: left;
	padding: 10px;
	color: #555;
}

td.input {
	padding: 10px;
}

/* 입력 필드 스타일 */
input[type="text"], input[type="password"] {
	width: 30%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
}

input[type="text"]:focus, input[type="password"]:focus {
	border-color: #007BFF;
	outline: none;
}

button {
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #218838;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

tr {
	border-bottom: 1px solid #ddd;
}

tr:last-child {
	border-bottom: none;
}

.label {
	font-weight: bold;
}

#userIdDiv, #passwordDiv {
	color: red;
	font-size: 12px;
	margin-top: 5px;
}